<footer class="ba-footer">
	<div class="row">
		<div class="column large-4 small-12 hide-for-small-only">
			<div class="ba-info">
				<ul>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Return Policy</a></li>
				</ul>
			</div>
		</div>
		<!-- /.column large-4 -->
		<div class="column large-4 small-12">
			<div class="ba-info-2">
				<div class="ba-logo">
					<a href="#">CBI</a>
				</div>
				<div class="ba-socials">
					<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" width="11" height="21" viewBox="0 0 11 21">
							<defs>
								<filter id="a" x="876" y="4999" width="11" height="21" filterUnits="userSpaceOnUse">
									<feFlood result="flood" flood-color="#6e774a" />
									<feComposite result="composite" operator="in" in2="SourceGraphic" />
									<feBlend result="blend" in2="SourceGraphic" />
								</filter>
							</defs>
							<path
								d="M886.586 4999h-2.639c-2.964 0-4.879 2.03-4.879 5.17v2.38h-2.653a.421.421 0 00-.415.43v3.45a.421.421 0 00.415.43h2.652v8.71a.421.421 0 00.415.43h3.461a.421.421 0 00.415-.43v-8.71h3.1a.421.421 0 00.415-.43v-3.45a.434.434 0 00-.122-.3.412.412 0 00-.293-.13h-3.1v-2.02a1.2 1.2 0 011.45-1.46h1.777a.428.428 0 00.415-.43v-3.21a.428.428 0 00-.414-.43z"
								transform="translate(-876 -4999)" fill-rule="evenodd" filter="url(#a)" />
						</svg>
					</a>
					<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" width="11" height="21" viewBox="0 0 11 21">
							<defs>
								<filter id="a" x="876" y="4999" width="11" height="21" filterUnits="userSpaceOnUse">
									<feFlood result="flood" flood-color="#6e774a" />
									<feComposite result="composite" operator="in" in2="SourceGraphic" />
									<feBlend result="blend" in2="SourceGraphic" />
								</filter>
							</defs>
							<path
								d="M886.586 4999h-2.639c-2.964 0-4.879 2.03-4.879 5.17v2.38h-2.653a.421.421 0 00-.415.43v3.45a.421.421 0 00.415.43h2.652v8.71a.421.421 0 00.415.43h3.461a.421.421 0 00.415-.43v-8.71h3.1a.421.421 0 00.415-.43v-3.45a.434.434 0 00-.122-.3.412.412 0 00-.293-.13h-3.1v-2.02a1.2 1.2 0 011.45-1.46h1.777a.428.428 0 00.415-.43v-3.21a.428.428 0 00-.414-.43z"
								transform="translate(-876 -4999)" fill-rule="evenodd" filter="url(#a)" />
						</svg>
					</a>
					<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" width="11" height="21" viewBox="0 0 11 21">
							<defs>
								<filter id="a" x="876" y="4999" width="11" height="21" filterUnits="userSpaceOnUse">
									<feFlood result="flood" flood-color="#6e774a" />
									<feComposite result="composite" operator="in" in2="SourceGraphic" />
									<feBlend result="blend" in2="SourceGraphic" />
								</filter>
							</defs>
							<path
								d="M886.586 4999h-2.639c-2.964 0-4.879 2.03-4.879 5.17v2.38h-2.653a.421.421 0 00-.415.43v3.45a.421.421 0 00.415.43h2.652v8.71a.421.421 0 00.415.43h3.461a.421.421 0 00.415-.43v-8.71h3.1a.421.421 0 00.415-.43v-3.45a.434.434 0 00-.122-.3.412.412 0 00-.293-.13h-3.1v-2.02a1.2 1.2 0 011.45-1.46h1.777a.428.428 0 00.415-.43v-3.21a.428.428 0 00-.414-.43z"
								transform="translate(-876 -4999)" fill-rule="evenodd" filter="url(#a)" />
						</svg>
					</a>
				</div>

				<div class="ba-conect">
					<h4 class="ba-title">Subscribe to Newsletter</h4>
					<input type="email" name="email" id="#" placeholder="Email">
					<button type="button" class="ba-conect-button">
						<img src="assets/img/next.png" alt="">
					</button>
				</div>
				<div class="ba-copyright">
					<p>© 2018. CbD health.</p>
				</div>
			</div>
		</div>
		<!-- /.column large-4 -->
		<div class="column large-4 small-12 hide-for-small-only">
			<div class="ba-info">
				<ul>
					<li><a href="#">SHIPPING INFO</a></li>
					<li><a href="#">RETURNS / EXCHANGES</a></li>
					<li><a href="#">CONTACT</a></li>
				</ul>
			</div>
		</div>
		<!-- /.column large-4 -->
	</div>
	<!-- /.row -->
</footer>
<!-- /.ba-footer -->