<header class="ba-header">
		<div class="row shrink align-middle space-between ba-header-position">
			<div>
				<button class="menu-icon dark hide-for-medium" type="button" data-open="offCanvas" aria-label="Show menu">
				</button>
				<ul class="menu ba-main-menu show-for-medium">
					<li {{#ifpage 'index'}} class="active" {{/ifpage}}><a href="index.html">Home</a></li>
					<li><a href="#products">Products</a></li>
					<li><a href="FAQs"></a></li>
					<li><a href="#contact">Contact Us</a></li>
				</ul>
			</div>

			<div>
				<a href="#">
					<img src="{{root}}assets/img/logo.svg" alt="Logo">
				</a>
			</div>
			<!-- /.column -->

			<div>
				<a href="#login">login</a>
				<a href="#search">Search</a>
				<a href="#cart">Cart (0)</a>
			</div>
		</div>
		<!-- /.row -->
</header>