<section class="ba-section-feedback">
	<div class="ba-slider-feedback">
		<div class="ba-slider-feedback-item">
			<div class="row">
				<div class="column large-8 large-offset-2 small-12 medium-10">
					<div class="ba-product">
						<div class="ba-rating">
							&#9733 &#9733 &#9733 &#9733 &#9733
						</div>
						<div class="ba-post">
							I have tried another product after using this one successfully, and I am Back for good! The
							flavour, the
							lightness of the oil and the health benefits I have gotten with this oil are amazing!
						</div>
						<div class="ba-author">
							Mark J.
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.ba-slider-feedback-item -->

		<div class="ba-slider-feedback-item">
			<div class="row">
				<div class="column large-8 large-offset-2">
					<div class="ba-product">
						<div class="ba-rating">
							&#9733 &#9733 &#9733
						</div>
						<div class="ba-post">
							I have tried another product after using this one successfully, and I am Back for good! The
							flavour, the
							lightness of the oil and the health benefits I have gotten with this oil are amazing!
						</div>
						<div class="ba-author">
							Artur S.
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.ba-slider-feedback-item -->

		<div class="ba-slider-feedback-item">
			<div class="row">
				<div class="column large-8 large-offset-2">
					<div class="ba-product">
						<div class="ba-rating">
							&#9733 &#9733 &#9733 &#9733
						</div>
						<div class="ba-post">
							I have tried another product after using this one successfully, and I am Back for good! The
							flavour, the
							lightness of the oil and the health benefits I have gotten with this oil are amazing!
						</div>
						<div class="ba-author">
							Andrew B.
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.ba-slider-feedback-item -->
	</div>
	<!-- /.ba-slider-feedback -->
	<div class="ba-slide-nav">
		<button class="ba-slide-previous">
			<img src="assets/img/feedback-prev.png" alt="previous">
		</button>
		<button class="ba-slide-next">
			<img src="assets/img/feedback-next.png" alt="next">
		</button>
	</div>
</section>
<!-- /.ba-section-feedback -->