<section class="ba-section-intro">
	<div class="row">
		<div class="column large-7 medium-12 small-12 large-offset-5">
			<h1 class="ba-title">Enhancing Life Excelling in Care</h1>
			<p class="ba-subtitle">Choose Wisely. Choose CBD.</p>

			<a href="#" class="ba-start-shoping hide-for-small-only">Start Shopping</a>
			<a href="#products" class="ba-see-products hide-for-small-only">
				See all products
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 20 10">
				<path d="M19.863 4.661L15.319.134a.455.455 0 00-.641-.05.451.451 0 000 .688l3.767 3.758H.455a.453.453 0 100 .905h17.99l-3.767 3.753a.452.452 0 00-.05.639.455.455 0 00.69 0L19.864 5.3a.452.452 0 000-.639z"/>
				<path fill="#f7f8f3" d="M19.863 4.661L15.319.134a.455.455 0 00-.641-.05.451.451 0 000 .688l3.767 3.758H.455a.453.453 0 100 .905h17.99l-3.767 3.753a.452.452 0 00-.05.639.455.455 0 00.69 0L19.864 5.3a.452.452 0 000-.639z"/>
			 </svg>
			</a>
 
			<a href="#about" class="ba-scroll ">
			</a>

			<p class="ba-intro-decor hide-for-small-only">CBD Potion health</p>
		</div>
		<!-- /.column large-12 -->
	</div>
</section>