<section class="ba-section-about" id="about">
	<div class="row">	
		<div class="column large-12">
			<div class="ba-about hide-for-small-only">
				<h2 class="ba-title">
					We are what we are
				</h2>
				<img src="assets/img/about.png" alt="We are what we are">
			</div>
		</div>
		<div class="column large-12 small-12 large-offset-1">
			<nav class="ba-nav">
				<ul class="ba-menu tabs" data-tabs id="example-tabs">
					<li class="ba-nav__item tabs-title is-active"><a href="#what" class="tab-item" aria-selected="true">WHAT IS CBD?</a></li>
					<li class="ba-nav__item tabs-title"><a href="#benefits" class="tab-item" aria-selected="true">BENEFITS</a></li>
					<li class="ba-nav__item tabs-title"><a href="#difference" class="tab-item" aria-selected="true">OUR DIFFERENCE</a></li>
				</ul>
			</nav>
			<div class="tabs-content" data-tabs-content="example-tabs">
				<div class="ba-info-bar tabs-panel is-active" id="what">
					<div class="row ba-post-text">
						<div class="column large-4 small-12">
							<h2 class="ba-title">WHAT IT IS AND HOW IT WORKS</h2>
							<p class="ba-subtitle">CBD is short for cannabidiol. It is a phytocannabinoid found in hemp and
								known for supporting the body
								and mind in many ways.* Charlotte’s Web products have cannabinoids with CBD extract.
							</p>
							<p class="ba-subtitle">
								Not to be confused with oil from hemp seeds (which doesn’t contain cannabinoids), CBD comes from
								the
								flowers and leaves of the hemp plant.
							</p>
							<p class="ba-subtitle">
								Why does CBD work? The human body has a vast network of receptors, the endocannabinoid system
							</p>
						</div>
						<div class="column large-6 large-offset-2 hide-for-small-only">
							<div class="ba-gallery">
								<img src="assets/img/tabs-img.png" alt="">
								<img src="assets/img/tabs-img-2.png" alt="">
							</div>
						</div>
					</div>

				</div>
				<div class="ba-info-bar tabs-panel" id="benefits">
					<div class="row ba-post-text">
						<div class="column large-4">
							<h2 class="ba-title">WHAT IT IS AND HOW IT WORKS</h2>
							<p class="ba-subtitle">CBD is short for cannabidiol. It is a phytocannabinoid found in hemp and
								known for supporting the body
								and mind in many ways.* Charlotte’s Web products have cannabinoids with CBD extract.
							</p>
							<p class="ba-subtitle">
								Not to be confused with oil from hemp seeds (which doesn’t contain cannabinoids), CBD comes from
								the
								flowers and leaves of the hemp plant.
							</p>
							<p class="ba-subtitle">
								Why does CBD work? The human body has a vast network of receptors, the endocannabinoid system
							</p>
						</div>
						<div class="column large-6 large-offset-2 hide-for-small-only">
							<div class="ba-gallery">
								<img src="assets/img/tabs-img-2.png" alt="">
								<img src="assets/img/tabs-img.png" alt="">
								
							</div>
						</div>
					</div>
				</div>
				<div class="ba-info-bar tabs-panel" id="difference">
					<div class="row ba-post-text">
						<div class="column large-4">
							<h2 class="ba-title">WHAT IT IS AND HOW IT WORKS</h2>
							<p class="ba-subtitle">CBD is short for cannabidiol. It is a phytocannabinoid found in hemp and
								known for supporting the body
								and mind in many ways.* Charlotte’s Web products have cannabinoids with CBD extract.
							</p>
							<p class="ba-subtitle">
								Not to be confused with oil from hemp seeds (which doesn’t contain cannabinoids), CBD comes from
								the
								flowers and leaves of the hemp plant.
							</p>
							<p class="ba-subtitle">
								Why does CBD work? The human body has a vast network of receptors, the endocannabinoid system
							</p>
						</div>
						<div class="column large-6 large-offset-2 ">
							<div class="ba-gallery">
								<img src="assets/img/tabs-img.png" alt="">
								<img src="assets/img/tabs-img-2.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.ba-section-about -->