<section class="ba-section-products">
	<div>
		<h2 class="ba-title">
			CBD Featured Products
		</h2>

		
				<div class="ba-slider-new">
			
					<div class="ba-slider-new-item">
						<div class="ba-product">
							<div class="ba-rating">
								&#9733 &#9733 &#9733 &#9733 &#9733
							</div>
							<div class="ba-name">
								CBD 500 mg Orange Flavor Tincture
							</div>

							<img src="assets/img/mr_orange.png" alt="">
						</div>
						<div class="ba-info">
							<span class="ba-price">
								$49.99 USD
							</span>
							<button href="#">Shop</button>
						</div>
					</div>
					<div class="ba-slider-new-item">
						<div class="ba-product">
							<div class="ba-rating">
								&#9733 &#9733 &#9733 &#9733 &#9733
							</div>
							<div class="ba-name">
								CBD 500 mg Orange Flavor Tincture
							</div>

							<img src="assets/img/mr_orange.png" alt="">
						</div>
						<div class="ba-info">
							<span class="ba-price">
								$49.99 USD
							</span>
							<button href="#">Shop</button>
						</div>
					</div><div class="ba-slider-new-item">
						<div class="ba-product">
							<div class="ba-rating">
								&#9733 &#9733 &#9733 &#9733 &#9733
							</div>
							<div class="ba-name">
								CBD 500 mg Orange Flavor Tincture
							</div>

							<img src="assets/img/mr_orange.png" alt="">
						</div>
						<div class="ba-info">
							<span class="ba-price">
								$49.99 USD
							</span>
							<button href="#">Shop</button>
						</div>
					</div><div class="ba-slider-new-item">
						<div class="ba-product">
							<div class="ba-rating">
								&#9733 &#9733 &#9733 &#9733 &#9733
							</div>
							<div class="ba-name">
								CBD 500 mg Orange Flavor Tincture
							</div>

							<img src="assets/img/mr_orange.png" alt="">
						</div>
						<div class="ba-info">
							<span class="ba-price">
								$49.99 USD
							</span>
							<button href="#">Shop</button>
						</div>
					</div><div class="ba-slider-new-item">
						<div class="ba-product">
							<div class="ba-rating">
								&#9733 &#9733 &#9733 &#9733 &#9733
							</div>
							<div class="ba-name">
								CBD 500 mg Orange Flavor Tincture
							</div>

							<img src="assets/img/mr_orange.png" alt="">
						</div>
						<div class="ba-info">
							<span class="ba-price">
								$49.99 USD
							</span>
							<button href="#">Shop</button>
						</div>
					</div>
						
		</div>
		<div class="ba-slide-nav">
			<button class="ba-slide-previous">
			<img src="assets/img/previous.png" alt="previous">
		</button>
		<button class="ba-slide-next">
			<img src="assets/img/next.png" alt="next">
		</button>
		</div>
		
	</div>
</section>