<section class="ba-section-answer">
	<div class="row">
		<div class="column large-6 center-align large-offset-3">
			<h2>Frequently asked questions</h2>
			<ul class="accordion" data-accordion data-allow-all-closed="true">
				<li class="accordion-item" data-accordion-item>
					<a href="#" class="accordion-title"> What is Cannabidiol (CBD)? </a>
					<div class="accordion-content" data-tab-content>
						<p>Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD
							products are completely legal in all 50 States. </p>
					</div>

				</li>
				<li class="accordion-item" data-accordion-item>
					<a href="#" class="accordion-title"> Is Hemp-Derived Cannabidiol (CBD) Legal?</a>
					<div class="accordion-content" data-tab-content>
						<p>Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD
							products are completely legal in all 50 States. </p>
					</div>

				</li>
				<li class="accordion-item" data-accordion-item>
					<a href="#" class="accordion-title">Are there any negative side effects? </a>
					<div class="accordion-content" data-tab-content>
						<p>Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD
							products are completely legal in all 50 States. </p>
					</div>

				</li>
				<li class="accordion-item" data-accordion-item>
					<a href="#" class="accordion-title"> Do you offer a return policy?</a>
					<div class="accordion-content" data-tab-content>
						<p>Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD
							products are completely legal in all 50 States. </p>
					</div>

				</li>
			</ul>
		</div>
	</div>
</section>